[flake8]
ignore = C101, I100
max-line-length = 119
exclude =
  .venv,
  */migrations/*,
  __pycache__,
  manage.py,
per-file-ignores =
    backend/core/settings/*.py: F401, F403, E501
    ./core/settings/*.py: F401, F403, E501
