[flake8]
ignore = C101, I100
application-import-names = main_app, campaign
max-line-length = 119
exclude =
  .venv,
  */migrations/*,
  __pycache__,
  manage.py,
per-file-ignores =
    backend/core/settings/*.py: F401, F403, F405, E501, A005
    ./core/settings/*.py: F401, F403, F405, E501
